.carousel-wrapper {
  margin: 20 auto;
  max-width: 100vh;
  padding: 20px;
}

.testimonial {
  background-color: white;
  height: 470px;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  background-image: linear-gradient(to bottom, #ffffff,#4f636b);
  margin-right: 20px;
  transition: all 3s ease;
}
.testimonial:hover {
  transform: scale(0.9);
  transition: all 3s ease;
  box-shadow: #eeecec9c 2px 4px 10px;
  
}

.img-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img {
  width: 150px;
  height: auto;
  object-fit: contain;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  height: 150px;
  object-fit: cover;
  border-radius: 125px;
  margin-bottom: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border: 1.5px solid green;
}

.designation {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-style: normal;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  text-align: center;
  margin-top: 1rem;
}


.description {
  text-align: center;
  color: rgb(243, 238, 238);
  letter-spacing: 1px;
  margin-top: 2rem;
}

.quote-icon {
  font-size: 12px;
  margin-bottom: 10px;
}

.right_arrow {
  /* width: 100%; */
  margin: 0;
  top: -350px;
  position: relative;
  cursor: pointer;
  left: -440px;
}
.right_arrow:hover {
  color: #fc5c7d;
}
.left_arrow:hover {
  color: #fc5c7d;
}
.left_arrow {
  /* width:100%; */
  cursor: pointer;
  position: relative;
  top: -350px;
  margin: 0;
  right: -300px;
}
@media (max-width: 768px) {
  .carousel-wrapper {
    overflow: hidden;
  }

  .img-wrapper {
    display: block;
  }

  .testimonial {
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .testimonial:last-child {
    margin-bottom: 0;
  }

  .designation {
    margin-top: 50px;
  }

  .img {
    width: 110px;
    height: 95px;
    margin-bottom: 10px;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
  .right_arrow {
    left: -100px;
  }
  .left_arrow {
    right: -100px;
  }
}


/* Review.css */

.carousel-wrapper {
  /* Your carousel wrapper styles */
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.testimonial {
  /* Your testimonial styles */
}

.arrows-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
}

.arrow-button {
  background-color: transparent;
  border: none;
  font-size: 24px;
  color: #f2f3fa; /* Arrow color */
  cursor: pointer;
  border-radius: 50%;
  background-color: #9399d4;
}

.prev-button {
  margin-right: 100vh;
}

.next-button {
  margin-left: 10px;
}