.Avtar {
  height: 5rem !important;
  width: 7rem !important;
  border-radius: 15%;
  transition: all ease 2s;
}

.table_E {
  margin-inline: auto;
  border-collapse: collapse;
}

.thead_E {
  border-bottom: 1px solid black;
  border: 2px solid rgb(112, 111, 112);
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(229, 160, 250);
}

td {
  padding-right: 5rem;
  padding-left: 5rem;
  text-align: center;
  border: 2px solid rgb(112, 111, 112);
  color:black;
  font-size: 18px;
}
.Crop_table {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
}

.form_E{
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  border-radius: 0.5rem;
}

.input_E {
  width: 90% ;
  display: flex;
  justify-content: center;
  /* margin-inline: 5%; */
  transition: 1s ease-in all;
  font-size: 1.2rem;
}

.input_E:focus{
  background-color: rgb(220, 155, 240);
}

.inputcard_E {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  padding-bottom: 30px;
}

.h1_E {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 600;
  text-shadow: 0px 2px 0px rgb(91, 53, 126);
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: bold;
  color: rgb(147, 102, 189);
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;

}
.tbody_E tr:nth-child(odd) {
  background-color: rgb(220, 155, 240);
}

.rowex{
  transition: 500ms all ease;
}

.rowex:hover{
  scale: 1.04;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.tbody_E tr:nth-child(even) {
  background-color: rgb(190, 133, 207);
}
@media only screen and (max-width: 855px) {
  img {
    position: relative !important;
  }
}

.search-wrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-wrapper input{
  width: 30%;
}

@media (max-width:900px){
  .search-wrapper input{
    width: 50%;
  }
}
