* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(0, 0, 40);
  color: white;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.main {
  position: relative;
  top: 90px;
  width: 100vw;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  overflow: hidden; /* Prevent vertical scrolling */
}

/* video {
  width: 90%;
  max-width: 150vw;
  height: auto;
  max-height: 60vh;
  object-fit: fill;
  border-radius: 8vw;
} */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.content {
  color: #00ffff;
}

img {
  width: 3rem;
}

.text {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.para {
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  margin: 1.5rem 2rem 1.5rem 2rem; /* Increase or decrease the gap between text and para */
  /* Increase or decrease the gap between text and para */
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.card {
  border-radius: 8px;
  padding: 0px 30px 0px 30px;
  width: 60vw;
  max-width: 400px;
  height: 170px;
  margin-top: 1rem;
  /*margin-bottom: 2rem; */
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  /* text-align: center; */
}

.purple {
  color: rgb(152, 100, 201);
}

.button {
  width: 8rem;
  height: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  cursor: pointer;
  margin-top: 1rem;
  background-color: rgb(152, 100, 201);
  color: white;
  border: none;
  border-radius: 4px;
}

.button-1:hover {
  color: purple;
  background-color: aliceblue;
  box-shadow: 1px 1px 1px 1px purple;
  transition: background-color 0.5s ease;
}

.button:hover {
  background-color: rgb(132, 80, 181);
}
@media only screen and (max-width: 1023px) {
  .text {
    position: static;
    transform: none;
    font-size: 1.8 rem;
  }
}

@media only screen and (max-width: 855px) {
  .main {
    /* text-align: center; */
    overflow: auto; /* Allow scrolling for smaller screens */
  }

  .text {
    font-size: 2rem;
    position: absolute;
    top: 1rem;
    right: 3rem;
    left: 3rem;
  }

  .card {
    width: 90vw;
    max-width: 400px;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
  }

  video {
    width: 95vw;
    height: auto;
    max-height: 60vh;
  }

  .button {
    margin-top: 1rem;
  }
}

@media only screen and (max-width: 730px) {
  .text {
    font-size: 1.8rem;
  }

  .para {
    margin: 1rem 2rem 0rem 2rem;

    /* margin-bottom: 2rem; */

    /* text-align: left; */
  }
}

@media only screen and (max-width: 600px) {
  .text {
    font-size: 1.5rem;
  }

  .para {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

@media only screen and (max-width: 480px) {
  .card-container {
    flex-direction: column;
    align-items: center;
  }
/* 
  video {
    width: 90vw;
    height: auto;
    max-height: 40vh;
  } */

  .text {
    font-size: 1.5rem;
    position: absolute;
    top: 1rem;
    right: 3rem;
    left: 3rem;
  }

  .card {
    width: 90vw;
    max-width: 300px;
    height: 170px;
    /* margin-top: 1rem;
    margin-bottom: 1rem; */
  }
  .para {
    justify-content: center;
    margin: 1rem 1rem 1rem 1rem;
  }

  .button {
    margin-top: 1rem;
  }
}

/* Added: Media query for iPad Air and iPad Mini */
@media only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait),
  only screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  .text {
    top: 0.0000000000000001rem; /* Adjust the value as needed */
  }
  .para {
    margin-top: 5rem;
    justify-content: center;
  }
}
@media only screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait),
  only screen and (device-width: 820px) and (device-height: 1180px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {
  .text {
    top: 0.0000000000000001rem; /* Adjust the value as needed */
  }
  .para {
    margin-top: 5rem;
  }
}

@media only screen and (min-width: 1024px) {
  .card {
    /* position: relative; */
    height: 170px;
  }

  .button {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(120%) scale(0.9);
    width: 15%;
    height: 0.1rem;
  }

  .video {
    width: 95vw;
    height: auto;
    max-height: 20vh;
  }

  .text {
    top: 0.00000001rem;
    font-size: 130%;
  }

  .para {
    margin-bottom: 3px;
    margin-top: 1rem; /* Added: Set margin-top to push the paragraph below the text */
  }

  @media only screen and (min-width: 1024px) and (max-height: 600px) {
    .button {
      top: 88%;
      left: 56%;
    }
  }
}
/* .button-1 {
  height: 50px;
} */

.text-black{
  color: black;
}

.text-white{
  color: white;
}

.bg-light1{
  background-color: aliceblue;
}
.bg-dark1{
  background-color: slategray;
}