nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.4rem 3.2rem;
  background-color: rgba(0, 0, 40, 0.8);
}

nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  
}

nav ul li {
  margin-right: 2rem;
  text-decoration: none;
  list-style: none;
}

nav ul li a {
  color: #fff;
  position: relative;
  list-style: none;
  text-decoration: none;
}

nav ul li a::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #9864c9;
  bottom: 0;
}

nav ul li a::before {
  width: 0%;
}

nav ul li a:hover::before {
  width: 100%;
}

nav .visibility-desktop {
  display: block;
}

nav .visibility-mobile {
  display: none;
}

.modebtn{
  background-color: transparent;
}

@media only screen and (max-width: 1120px) {
  nav .visibility-desktop {
    display: none;
  }

  nav .visibility-mobile {
    display: block;
  }

  nav .visibility-mobile img {
    width: 28px;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 40, 0.8);
    transition: 2s ease-in-out;
  }

  .mobile-nav ul li {
    padding-bottom: 3rem;
    list-style: none;
  }

  .mobile-nav ul li a {
    color: #fff;
    text-decoration: none;
  }
}
