.aboutMain{
    height: 100%;
    width: 100%;
}
.about {
    width: 100%;
    font-weight: 300;
    font-size: 40px;
    font-style: bold;
    color: rgb(147, 102, 189);
    margin-top: 80px;
    /* background-color: brown; */
}
ul{
    text-align: -webkit-match-parent;
}
.content {
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
    margin-top: 10px;
    margin-right: 0px;
    /* background-color: green; */
    color: aliceblue;
    padding: 10px;
}

.content .left {
    font-size: 20px;
    font-weight: 300;
    flex: 0.6;
    text-align: justify;

    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    /* background-color: blue; */
}
.content .left button{
    width: 100%;
    height: 50px;
    background-color: rgb(147, 102, 189);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
}
.content .left button:hover{
    background-color: rgb(147, 102, 189);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 300;
    margin-top: 20px;
    cursor: pointer;
}


.content .left .feature{
    font-size: 20px;
    font-weight: 300;
    text-align: justify;
    margin-left: 60px;
    /* background-color: yellow; */
}

.content .right{
    flex: 0.4;
    /* background-color: pink; */
}
.content .right img{
    width: 100%;
    height: 100%;
}
h3{
    font-weight: 300;
    font-style: bold;
    color: rgb(147, 102, 189);
}

@media only screen and (max-width: 850px){
    .aboutMain{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: 100%;
        width: 100%;
        padding: 5%;
    }
    .content{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 5%;
        padding-top: 50px;
        margin-left: 30px;

    }
    .content .left{
        width: 100%;
        margin-right: 30px;
        /* padding-bottom: 20%; */
    }
    .content .right{
        width: 100%;
        margin-top: 50%;
    }
    .content .right img{
        margin-top: 50rem;
    }
  }
  @media only screen and (max-width: 560px){
    .content .right img{
        width: 100%;
        height: fit-content;
        margin-top: 65rem;
    }
  }