@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

body,
html {
  width: 100%;
  height: 100%;
}
label {
  color: white;
}

.contactUsContainer {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.contactUs {
  border-radius: 10px;
  width: 70%;
  padding: 25px;
  background-color: rgb(167, 116, 214);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.leftContact {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 100px;
  flex-direction: column;
}

.contact {
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 60px;
  text-shadow: 0 0 0 4px plum;
  color: cyan;
  margin-bottom: 20px;
}

.tag {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  position: absolute;
  top: 280px;
  text-align: center;
  font-size: 2rem;
  color: white;
  letter-spacing: 2px;
}

.socials {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  width: 50%;
  height: 450px;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 8px 14px;
  border-radius: 8px;
  width: 100%;
  height: 40px;
  width: 300px;
}

.text-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.icon {
  color: cyan;
  cursor: pointer;
}

.form textarea {
  border-radius: 8px;
  height: 100px;
  width: 100%;
  resize: none;
  outline: 0;
  margin-top: 10px;
  padding: 10px 14px;
  width: 300px;
  border: 1px solid rgb(219, 213, 213);
}

.form button {
  border-radius: 8px;
  width: 340px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgb(147, 102, 189);
  color: #fff;
  cursor: pointer;
  transition: 2s all ease;
}
https://github.com/abhijeet141/CropForesight-FrontEnd/pull/199/conflicts
.form button:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 12px 28px 0px,
    rgba(240, 46, 170, 0.3) 0px 2px 4px 0px;
}

.form button:hover {
  color: purple;
  background-color: aliceblue;
  transition: background-color 0.5s ease;
  transform: scale(1.1);
}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.twitter {
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.twitter:hover {
  color: #1da1f2;
  transform: scale(1.2);
}

.mail {
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.mail:hover {
  color: purple;
  transform: scale(1.2);
}

.github {
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.github:hover {
  color: black;
  transform: scale(1.2);
}

.wrapper-md {
  visibility: hidden;
}

@media only screen and (max-width: 850px) {
  /* img {
    position: absolute;
    left: 1rem;
    top: 0rem;
} */

  .form {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    width: 100%;

  }

  .wrapper-md {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form button {
    width: 300px;
  }
  .form textarea {
    width: 300px;
  }
  .tag {
    top: 10rem;
    left: 2rem;
    font-size: 1.5rem;
  }

  .contact {
    font-size: 2rem;
    left: 20vw;
  }

  .leftContact {
    visibility: hidden;
  }

  .contactUs {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }
}
