input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border:none;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.formInput{
    display: flex;
    margin-top: 5px;
    flex-direction: column;
    width: 100%;
}


label{
    font-size: 14px;
}

.errorMsg{
    color: red;
    font-size: 16px;
  }
  
.form.glass input.inputField{
    border: 2px solid rgb(207, 1, 1);
  }
  
.form.glass textarea.inputField{
    border: 2px solid red;
  }
  