input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid grey;
}

.formInput{
    display: flex;
    flex-direction: column;
    width: 100%;
}

label{
    font-size: 15px;
}
