/* .Container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  width: 30%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.validate {
  width: 100%;
  justify-content: center;
}

@media only screen and (max-width: 1200px) {
  .formContainer {
    width: 80%;
  }
}
