input{
    padding: 15px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid grey;
}

.formInput{
    display: flex;
    flex-direction: column;
    width: 100%;
}

label{
    font-size: 15px;
}


.errorMsg{
    color: red;
    font-size: 16px;
  
  }
  
.form.glass input.inputField{
    border: 2px solid rgb(207, 1, 1);
  }
  
.form.glass textarea.inputField{
    border: 2px solid red;
  }
  