nav {
  top: 0;
  width: 100vw;
  height: 10vh;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(0, 0, 57);
  z-index: 100;
  padding: 0 2rem;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  margin-right: 3rem;
  text-decoration: none;
}

nav ul li a {
  color: #fff;
  position: relative;
}

nav ul li:hover::after {
  width: 100%;
}

nav ul li a:hover {
  opacity: 1;
}

nav ul li a::before {
  transition: 300ms;
  height: 3px;
  content: "";
  position: absolute;
  background-color: #9864c9;
  bottom: 0;
}

nav ul li a::before {
  width: 0%;
}

nav ul li a:hover::before {
  width: 100%;
}

nav .visibility-desktop {
  display: block;
}

nav .visibility-mobile {
  display: none;
}

@media only screen and (max-width: 1000px) {
  nav .visibility-desktop {
    display: none;
  }

  nav .visibility-mobile {
    display: block;
  }

  .mobile-nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: absolute;
    right: 0;
    left: 0;
    z-index: 10;
    background-color: rgb(0, 0, 57);
    position: fixed;
    transition: 2s ease-in-out;
  }

  .mobile-nav ul li {
    padding-bottom: 3rem;
  }

  .mobile-nav ul li a {
    color: #fff;
  }
}
