nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 20px;
  background-color: rgb(0, 0, 57);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
  text-decoration: none;
}

.nav .right ul li a {
  color: white;
  text-decoration: none;
}

/* Get a Purple Hover Using This style for the NavBar Elements */
.nav .right ul li {
  position: relative;
}

.nav .right ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #9864c9;
  transition: width 0.3s ease;
}

.nav .right ul li:hover::after {
  width: 100%;
}

@media only screen and (max-width: 850px) {
  nav ul li {
    margin: 0 15px;
  }

  nav ul {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .left {
    position: absolute;
    left: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  nav ul {
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding-left: 270px; /* Add padding to shift items to the right */
  }

  nav ul li {
    flex: 1;
    margin: 0 5px;
  }

  .left {
    position: static;
    margin-bottom: 10px;
  }
}




@media only screen and (max-width: 850px) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 20px;
  }
}
