.carousel-wrapper {
  margin: 20 auto;
  max-width: 1200px;
  padding: 20px;
}

.testimonial {
  background-color: white;
  height: 470px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: rgba(240, 46, 170, 0.4) 0px 5px, rgba(240, 46, 170, 0.3) 0px 10px,
    rgba(240, 46, 170, 0.2) 0px 15px, rgba(240, 46, 170, 0.1) 0px 20px,
    rgba(240, 46, 170, 0.05) 0px 25px;
  border-radius: 30px;
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  margin-right: 20px;
  transition: all 3s ease;
}
.testimonial:hover {
  transform: scale(0.9);
  background-image: linear-gradient(to right, #fc5c7d, #6a82fb);
  box-shadow: #fc5c7d 0px 10px 50px;
}
.img {
  width: 150px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
  height: 130px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.designation {
  color: rgb(0, 0, 0);
  font-weight: 600;
  font-style: italic;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 25px;
}

.description {
  text-align: center;
  color: rgb(243, 238, 238);
}

.quote-icon {
  font-size: 24px;
  margin-bottom: 10px;
}
.right_arrow{
  width:100%;
  margin: 0;
  top:-300px;
  position: relative;
  cursor: pointer;
  left:-400px;
}
.right_arrow:hover{
  color:#fc5c7d;
}
.left_arrow:hover{
  color:#fc5c7d;
}
.left_arrow{
  /* width:100%; */
  cursor: pointer;
  position: relative;
  top:-300px;
  margin: 0;
  right:-300px;
}
@media (max-width: 768px) {
  .testimonial {
    margin-right: 10px;
    margin-bottom: 20px;
  }

  .testimonial:last-child {
    margin-bottom: 0;
  }

  .designation {
    margin-top: 120px;
  }

  .img {
    width: 110px;
    height: 95px;
    margin-bottom: 10px;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
  }
}
