.card {
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: all 0.5s ease-in-out;
    background: linear-gradient(to right, teal, gray);
    
    &:hover {
        transform: scale(1.05);
    }

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;

    /* expand while content is increases */
    gap : 10px;
    height: 100%;
    width: 100%;
}


.card-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
    padding: 15px;
}

.card-left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card-city {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    color: cyan;
}

.card-date {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
    color: white;
}

.des {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: white;
}

.temp {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: white;
}

.card-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

img {
    width: 100px;
    /* height: 100px;   */
}

.feels {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: white;
    position: relative;
    bottom: 10px;
}

