input {
    padding: 1rem;
    border-radius: 25px;
    border: none;
    display: flex;
    background-color: #fff;
    font-family: inherit;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 300px;
    font-size: 1rem;
}

input:focus {
    outline: none;
}

h1 {

    display: flex;
    justify-content: center;
    align-items: center;
}

.Weather {
    text-align: center;
    /* margin-left: 620px; */
    /* margin-top: 30px; */
    height: 200px;
    width: 200px;
    position: absolute;
    top: 25rem;
    left: 7rem;

}

.maincontainer{
        background-color: #f1f1f1;
        background-image: linear-gradient(to bottom right, #180356, #64089a);
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        margin: 0;
        padding-top: 75px;
    left: 35vw;
}

.getWeather {
    width: 150px;
    height: 42px;
    cursor: pointer;
    border-radius: 20px;
    margin-left: 35rem;
    /* margin-top: 50px; */
    align-items: center;
    border: none;
    background-color: rgb(208, 177, 244);
    /* position: absolute;
    left: 40rem; */
}

.getWeather:hover {
    background-color: rgb(249, 178, 249);
}

.Weather .name {
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);

}

.Weather .dis {
    font-size: 20pt;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;

}

.Weather .temp {
    font-size: 20pt;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(255, 255, 255);
}


.form-h{
    width: 30rem;
    height: 8rem;
}
#search{
    position: absolute;
    left: 5rem;
}

@media only screen and (max-width: 850px) {

    .maincontainer{
        left: -2vw;
    }
    .getWeather{
        position: absolute;
        top: 23rem;
        left: -2rem;

    }
    .form-h{
        position: absolute;
        top: 20vh;
        left: 10vw;
        width: 20rem;
        height: 8rem;
    }
    .Weather{
        position: absolute;
        top: 30rem;
    }
    #search{
        left: 4vw;
    }
  }
  