.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-btn {
    font-size: 1.5rem;
    width: 3rem;
    height: 3rem;
    color: whitesmoke;
    background-color: rgb(147, 102, 189);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    position: fixed;
    bottom: 4.5rem;
    right: 4.5rem;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
