@import url("https://fonts.googleapis.com/css?family=Montserrat:400,400i,700");
*,
*:after,
*:before {
  box-sizing: border-box;
}

.pg_not_found{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: x-large;
    color: aliceblue;
    height: 100vh;
    width: 100vw;
}


body {
  font-family: "Montserrat", sans-serif;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  /* height: 100vh; */
  margin-top: 100px;
  justify-content: center;
  text-align: center;
}

.error {
  color: #e7ebf2;
  font-size: 12.5rem;
  letter-spacing: 0.1em;
  margin: 0.025em 0;
  text-shadow: 0.05em 0.05em 0 rgba(0, 0, 0, 0.25);
  white-space: nowrap;
}
@media (max-width: 30rem) {
  .error {
    font-size: 8.5rem;
  }
}
.error > span {
  -webkit-animation: spooky 2s alternate infinite linear;
          animation: spooky 2s alternate infinite linear;
  color: #528cce;
  display: inline-block;
}

.purple {
  color: rgb(152, 100, 201);
}

h2 {
  color: #e7ebf2;
  margin-bottom: 0.4em;
}

p {
  color: #ccc;
  margin-top: 0;
}

@-webkit-keyframes spooky {
  from {
    transform: translatey(0.15em) scaley(0.95);
  }
  to {
    transform: translatey(-0.15em);
  }
}

@keyframes spooky {
  from {
    transform: translatey(0.15em) scaley(0.95);
  }
  to {
    transform: translatey(-0.15em);
  }
}
