.body{
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/image.webp);
  background-size: cover; 
  /* min-height: 100vh; */
  padding-bottom: 10px;
  height: 100%;
}
form {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  width: 90%;
  max-width: 600px;
  margin: 50px auto;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
  color: #0C134F;
}

.title {
  text-align: center;
  color: #27374D;
}

button{
  width: 100%;
  height: 60px;
  padding: 10px;
  border: none;
  color: white;
  background-color: rgb(173, 108, 234);
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn:hover{
  color: purple;
  background-color: aliceblue;
  box-shadow: 1px 1px 1px 1px purple;
  transition: background-color 0.5s ease;
}

 @media(max-width:412px){
  .body{
    height: 900px;
  }
} 
@media (max-width: 320px) and (max-height: 364px) {
  .body {
    height: auto;
    padding-bottom: 0;
  }

  form {
    width: 90%;
    height: auto;
    margin: 20px auto;
  }

  .title {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  button {
    margin-top: 20px;
  }
}

@media(min-width:768px) and (max-width:820px){
  .body{
    height: 1200px;
  }
  form{
    width: 60%;
    height: 70%;
  }
  .title{
    margin-bottom: 10px;
    margin-top: 20px;
  }
  button{
    margin-top: 30px;
  }
}

