.body {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  padding: 10px;
  background-color: rgb(22, 20, 20);
  min-height: 100vh;
}

.formCont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: cyan;
  border-radius: 10px;
  width: 70%;
  gap: 20px;
  margin-top: 60px;
}

::-webkit-scrollbar {
  width: 1rem;
}
::-webkit-scrollbar-track {
  background-color: rgb(4,4,44);
}
::-webkit-scrollbar-thumb {
  background-image:-webkit-gradient(linear,
  left bottom,
  left top,
  color-stop(0.44, rgba(147, 102, 189, 0.803)),
  color-stop(0.72, rgba(91, 53, 126, 0.779)),
  color-stop(0.86, rgb(4,4,44)));
  border-radius: 10px;
  border: 3px solid transparent;
  background-clip: content-box;
}

.form-left {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.form-left-one {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.form-left-one h1 {
  color: #263146;
  font-size: 45px;
  font-weight: bolder;
  text-decoration: none;
  transition:  0.3s ease-in-out;
}

.form-left-one h1:hover {
  color: #1f2936;
  font-size: 45px;
  font-weight: bolder;
  text-decoration: none;
}

.form-left-one h2 {
  color: rgb(26, 14, 14);
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
}

.form-left-one p {
  color: rgb(66, 66, 149);
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: 600;
  text-decoration: none;
}

.form-left-two img {
  width: 90%;
  object-fit: contain;
  border-radius: 2%;
  border: 2px solid brown;
}

form {
  padding: 20px;
  width: 50%;
  border-radius: 15px;
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1);
}

.title {
  text-align: center;
  color: #27374d;
}

.formInput label {
  color: #0c134f;
}

.formInput input.error {
  border: 1px solid red;
}

button {
  width: 100%;
  height: 60px;
  padding: 10px;
  border: none;
  color: white;
  background-color: rgb(173, 108, 234);
  cursor: pointer;
  border-radius: 5px;
  font-weight: bold;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn:hover {
  color: purple;
  background-color: aliceblue;
  box-shadow: 1px 1px 1px 1px purple;
  transition: background-color 0.5s ease;
}
.button2 {
   position: sticky; 
   left: 82%;
   bottom: 81%;
  width: 4em;
  height: 2em;
  border: none;
  background: none;
  z-index: 2;
}

.X2 {
  content: '';
  position: absolute;
  top: 50%;
  left: 33%;
  width: 1.5em;
  height: 1px;
  background-color: #fff;
  transform: rotate(45deg);
}

.Y2 {
  content: '';
  position: absolute;
  top: 50%;
  left: 33%;
  width: 1.5em;
  height: 1px;
  background-color: #fff;
  transform: rotate(-45deg);
}

.close2 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -40%;
  left: 70%;
  width: 3em;
  height: 1.7em;
  font-size: 16px;
  background-color: rgb(254, 255, 225);
  color: #000;
  border: 1px solid #000;
  pointer-events: none;
  opacity: 0;
}

.button2:hover {
  background-color: rgb(210, 0, 0);
}

.button2:active {
  background-color: rgb(130, 0, 0);
}

.button2:hover > .close {
  animation: close 0.2s forwards 1.25s;
}

@keyframes close {
  100% {
    opacity: 1;
  }
}

@media (max-width: 412px) {
  .body {
    height: 900px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .body {
    height: auto;
    padding-bottom: 0;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 20px auto;
  }

  .body {
    min-height: 900px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .formCont {
    background: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 20px auto;
  }

  /* .form-left {
    visibility: hidden;
  } */

  .form-left-one h1 {
    color: #f2f3f5;
    font-size: 45px;
    font-weight: bolder;
    text-decoration: none;
    transition:  0.3s ease-in-out;
  }
  
  .form-left-one h1:hover {
    color: #afb8c4;
    font-size: 45px;
    font-weight: bolder;
    text-decoration: none;
  }
  
  .form-left-one h2 {
    color: rgb(254, 249, 249);
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
  }
  
  .form-left-one p {
    color: rgb(221, 221, 244);
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 600;
    text-decoration: none;
  }

  .title {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  button {
    margin-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 820px) {
  .body {
    height: 1200px;
  }
  form {
    width: 60%;
    height: 70%;
  }
  .title {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  button {
    margin-top: 30px;
  }
}
