.Avtar {
  height: 5rem !important;
  width: 7rem !important;
  border-radius: 15%;
  opacity: 0.6;
  transition: all ease 2s;
}
/* 
.Avtar:hover {
  scale: 1.2;
  opacity: 1;
  cursor: pointer;
} */
.table_E {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}

.thead_E {
  border-bottom: 1px solid black;
  border: 2px solid rgb(112, 111, 112);
  padding-top: 5px;
  padding-bottom: 5px;
  color: rgb(229, 160, 250);
}

td {
  padding-right: 5rem;
  padding-left: 5rem;
  text-align: center;
  /* border: 2px solid rgb(112, 111, 112); */
}
.Crop_table {
  justify-content: center !important;
  align-items: center !important;
}

.form_E{
  margin: auto;
  margin-bottom: 1rem;
}

.input_E {
  width: 100% ;
  
}
.h1_E {
  margin-top: 5rem;
  margin-inline:auto;
  width: 100%;
  text-align: center;
}
.tbody_E tr:nth-child(odd) {
  background-color: rgb(0, 0, 57);
}

.rowex{
  transition: 500ms all ease;
}

.rowex:hover{
  scale: 1.04;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

.tbody_E tr:nth-child(even) {
  background-color: #0c134f;
}
@media only screen and (max-width: 855px) {
  img {
    position: relative !important;
  }
}
