  .left p {
    color: white;
  }
  
  .aboutMain h1 {
    font-family: "Poppins";
    font-weight: 600;
    text-shadow: 0px 2px 0px rgb(91, 53, 126);
  }
  
  .about {
    width: 100%;
    font-weight: 300;
    font-size: 40px;
    font-style: bold;
    padding-top: 60px;
    text-align: center;
  }
  
  ul {
    text-align: -webkit-match-parent;
  }
  
  .content {
    font-weight: 300;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 5%;
    margin-top: 10px;
    margin-right: 0px;
    color: aliceblue;
  }
  
  .content .left {
    font-size: 20px;
    font-weight: 300;
    flex: 0.6;
    text-align: justify;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content .left .feature {
    font-size: 20px;
    font-weight: 300;
    padding-top: 12px;
  }
  
  .slider {
    width: 180%;
    height: 160%;
    margin-left: -40px;
  }
  
  .slider-box {
    width: 20%;
    margin: auto;
  }
  
  .slider-div img {
    width: 30rem;
    height: 18rem;
    display: flex;
    margin: auto;
  }
  
  h3 {
    font-weight: 600;
    color: rgb(147, 102, 189);
  }

  @media (max-width: 1000px) {
    body{
      padding: 30px;
    }
    .content{
      display: flex;
      flex-direction: column;
    }
    .slider {
      width: 100%;
      height: 160%;
      margin-left: -40px;
    }
    .slider-box {
      width: 50%;
      margin-top: 30px;
    }
  }
  @media (max-width: 600px) {
    .content {
      margin: 2%;
    }
    .content .left {
      align-items: flex-start; 
      text-align:justify;
      padding: 10px; 
    }
    .about {
      width: 100%;
      font-size: 23px;
      font-style: bold;
      text-align: center;
    }
    .slider {
      width: 100%;
      margin-left: 0; 
    }
    .slider-box {
      width: 80%;
      margin-top: 20px;
    }
    .slider-div img {
      width: 100%;
      height: auto;
    }
  }
  